.App {
  text-align: center;
}

body {
  display: block;
  font-size: 1.6em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background: #f8f5f2;
}

h1,
h2 {
  color: black;
}

p {
  color: black;
}

.navbar {
  background-color: black;
  
}

.logo {
  width: 85px;
  height: auto;
  border-radius: 5px;
}

.custom-footer {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: rgba(211, 211, 211, 0.559);
  padding: 10px;
}

.footer-text {
  font-size: 14px !important;
  color: #333 !important;
  margin: 0;
}

.contact-img {
  width: 100%;
  margin: auto;
}

.contact-image {
  width: 80%;
  margin: auto;
}



@media (max-width: 420px) {
  .name {
    font-size: 18px;
  }

  .koolitused-container {
    display: block;
  }

  .koolitused-txt-container {
    width: 100%;
  }

  .koolitused-txt {
    width: 90%;
    text-align: left;
  }

  .koolitused-img {
    margin-bottom: 20px;
  }

  .project-card {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 380px) {
  .project-header {
    margin-top: 120px;
  }

  .projects {
    width: 100%;
    margin: auto;
  }

  .project-card {
    margin: auto;
  }
}
