/* Interior architecture portfolio grid */
/* INTERIOR */

.interior-projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: center;
}

