/* Admin — project management UI */
/* MANAGE PROJECTS */
.manage_project {
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px gray;
}

.project-img-small-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: auto;
}

.project-img-small {
  width: 20%;
  height: auto;
  margin: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.project-card-title {
  margin-top: 5px;
  margin-left: 20px;
  text-align: right;
  font-size: 20px;
  z-index: 5;
  text-align: start !important;
  color: black;
  border-bottom: none;
}

.project-extra-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: center;
}

.extra-card-container {
  width: auto;
  height: auto;
}

